extends layout

block content
    h1= title
    form(action="/upload", enctype="multipart/form-data", method="post")
        input(name="thumbnail", type="file")
        input(type="submit", value="Upload File")

